<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Email</title>
</head>

<body>
    <form action="/resp" method="POST">
        Reciever: <input type="text" name="reciever">
        Subject: <input type="text" name="subject">
        Message: <input type="text" name="message">
        Timer: <input type="text" name="timer">
        <input type="submit" value="submit">
    </form>
</body>

<a href="/last-tasks">Посмотреть список</a>

</html>